{% extends 'base.html.twig' %}

{% block title %}Создать склад{% endblock %}

{% block body %}
    <h1>Создать склад</h1>
    <hr>

    {{ include('warehouse/_form.html.twig') }}

    <div class="row">
        <div class="offset-md-3 col-md-6 g-3 text-center">
            <a href="{{ path('warehouse_index') }}" role="button" class="btn btn-primary btn-sm">
                <i class="fas fa-list"></i> Список складов
            </a>
        </div>
    </div>
{% endblock %}
